
.code { background-color: #F9F2F4; color: #C7254E; font-family: $fnt_Mono; }
.klk {cursor: pointer; }

.leAlign {text-align: center; }
.leMarine { color: #428BCA; }

.leBlkAncho { display: block; position: relative; }
.leBlkImg { display: block; position: relative; left: 45%; }

body > .container {
  max-width: 65%;
}

footer.footer{ 
  border-top: .05rem solid #e5e5e5;
  padding-top: 1.5rem;
}

#logText{
  text-align: center;
}

#logText , #imgText{
  margin: 0 auto;
}
